<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<li><a href="/about">about</a></li>
	        		<li><a href="/cv">cv</a></li>
	        		<li><a href="/blog">blog</a></li>
	        		<li><a href="/presentations">presentations</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:max.pensack@columbia.edu">max.pensack@columbia.edu</a></li>
	        		<li><a href="https://scholar.google.com/citations?user=4xCDFQ4AAAAJ&hl=en&oi=ao">Google Scholar</a></li>
	        		<li><a href="https://github.com/maxpensack">Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
