<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
			<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
	        		<li><a href="/projects">projects</a></li>
	        		<li><a href="/cv">cv</a></li>
	        		<!-- <li><a href="/blog">blog</a></li> -->
	        		<li><a href="/presentations">presentations</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:max.pensack@columbia.edu">Email</a></li>
	        		<li><a href="https://scholar.google.com/citations?user=4xCDFQ4AAAAJ&hl=en&oi=ao">Google Scholar</a></li>
	        		<li><a href="https://github.com/maxpensack">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
