<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/x-icon" href="/howtostopthinking/favicon.ico" />
			<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
			<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/howtostopthinking">home</a></li>
	        		<li><a href="/howtostopthinking/calendar">calendar</a></li>
	        		<li><a href="/howtostopthinking/topics">topics</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
		</body>
	</html>
